@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

:root {
  --background-color: #121725;
  --background-mobile-img: url("./assets/mobile/image-host.jpg");

  --green-1: #54e6af;
  --text-white: #fff;
  --text-grey: #c2cbe5;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    var(--background-mobile-img);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  max-width: 375px;
  margin: auto;
}

.pod {
  text-align: center;
  margin: 3.875rem 0 3.5625rem 0;
}

.content {
  width: 88%;
  margin: auto;
}

.content .content_title {
  color: var(--green-1);
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 2.375rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: var(--text-md);
}

.content .content_title .white {
  color: var(--text-white);
}

.content .content_text {
  color: var(--text-grey);
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  text-align: center;
  margin-bottom: var(--space-lg);
}

.content .content_logos {
  text-align: center;
  margin-bottom: 3rem;
  opacity: 0.5;
  height: 1.0625rem;
}

.content .content_logo {
  height: 100%;
}

.content .content_input-container {
  position: relative;
}

.content .content_input,
.content .content_input_btn {
  display: block;
  width: 100%;
  padding: 14.5px 30px;
  border: none;
  border-radius: 28px;
  background: #2c344b;
  caret-color: #fff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
  outline: none;
}

.content .content_input_btn {
  background: var(--green-1);
  color: #121725;
  cursor: pointer;
}

.content .content_input_btn:focus {
  background-color: #b3ffe2;
}

.content .content_input_btn:target {
  transform: scale(0.98);
}

#text {
  position: absolute;
  top: -24px;
  left: 29px;
}

@media (min-width: 768px) {
  #text {
    position: absolute;
    top: 63px;
    left: 32px;
  }

  body {
    max-width: 100%;
    position: relative;
    background: var(--background-color);
  }
  body::before {
    content: "";
    background-image: url("./assets/tablet/image-host.jpg");
    width: 491px;
    height: 767px;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
  }
  body::after {
    content: url("./assets/desktop/bg-pattern-dots.svg");
    position: absolute;
    left: 30px;
    bottom: 0px;
    z-index: -1;
  }
  .pod {
    margin: 0 0 0 39px;
    height: 258px;
  }

  .pod .pod_logo {
    margin-top: 50px;
  }

  .content {
    max-width: 660px;
    height: 564px;
    margin: 0 0 0 14px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .content .content_title {
    font-size: 48px;
    margin-bottom: 31px;
    line-height: 56px;
  }
  .content .content_text {
    max-width: 445px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .pod,
  .content .content_title,
  .content .content_text,
  .content .content_logos {
    text-align: start;
  }
  .swap-container {
    display: flex;
    flex-direction: column;
  }
  .content .content_input-container {
    position: relative;
    width: 427px;
    height: 56px;
    margin-bottom: 64px;
  }
  .content .content_input {
    width: 100%;
    height: 100%;
  }
  .content .content_input_btn {
    margin: 0;
    width: 162px;
    height: 46px;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .content .content_logos {
    order: 1;
    height: 29px;
    margin: 0;
  }
  .content .content_logo {
    margin-right: 30px;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
  body::before {
    background-image: url("./assets/desktop/image-host.jpg");
    width: 888px;
    height: 640px;
    top: 130px;
  }
  body::after {
    left: auto;
    bottom: auto;
    right: 0;
    top: 716px;
  }
  .pod {
    height: 261px;
    margin-left: 165px;
  }
  .pod .pod_logo {
    margin-top: 102px;
  }
  .content {
    width: 723px;
    height: 509px;
    margin-left: 165px;
  }
}
